<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script>
		$(document).ready(function(){
	        $('#boardBtn').click(function(){
	        	$('#boardAddForm').submit(function(event){
	        		if($('#boardPw').val().length<4){
		            	$('#boardPw').attr('placeholder','4자리이상 입력해주세요.');
		            	$('#boardPw').focus();
		            	return false;
		            }else if($('#boardTitle').val().length<1){
		            	$('#boardTitle').attr('placeholder','입력해주세요.');
		            	$('#boardTitle').focus();
		            	return false;
		            }else if($('#boardContent').val().length<1){
		            	$('#boardContent').attr('placeholder','입력해주세요.');
		            	$('#boardContent').focus();
		            	return false;
		            }else if($('#boardUser').val().length<1){
		            	$('#boardUser').attr('placeholder','입력해주세요.');
		            	$('#boardUser').focus();
		            	return false;
		            }else if($('#boardFile').val().length<1){
		            	$('#boardFile').attr('placeholder','입력해주세요.');
		            	$('#boardFile').focus();
		            	return false;
		            }
	        	});
	        });
	    });
	</script>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
	<div class="col-md-6 offset-md-3">
		<!-- <div class="card card-outline-secondary"> -->
		    <div class="card-body">
		        <h3 class="mb-0">boardAdd</h3>
		    </div>
		    <div class="card-body">
		        <form id="boardAddForm" class="form" role="form" autocomplete="off" action="/boardAdd" method="post" enctype="multipart/form-data">
		            <div class="form-group">
		                <label for="inputName">Password</label>
		                <input id="boardPw" type="password" class="form-control" name="boardPw">
		            </div>
		            <div class="form-group">
		                <label for="inputName">Title</label>
		                <input type="text" class="form-control" name="boardTitle" id="boardTitle">
		            </div>
		            <div class="form-group">
		                <label for="inputName">Content</label>
		                <textarea id="boardContent" class="form-control" name="boardContent" rows="5" cols="50" ></textarea>
		            </div>
		            <div class="form-group">
		                <label for="inputName">Name</label>
		                <input id="boardUser" type="text" class="form-control" name="boardUser">
		            </div>
		            <div class="form-group">
		            	<label for="inputName">File</label>
		            	<input id="boardFile" type="file" class="from-control" name="files">
		            </div>
		            <div class="form-group">
		            	<input id="boardBtn" class="btn btn-success btn-lg float-right" type="submit" value="글입력"/>
		            	<input class="btn btn-success btn-lg float-right" type="reset" value="초기화"/>
		            </div>
		            
		        </form>
		    </div>
		<!-- </div> -->
	</div>
</body>
</html>